.footer{
    padding: 5% 5% 4% 5%;
    background-color: var(--theme-bgcolor-3);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    color: var(--default-color);
    position: relative;
}

.footer span:hover{
    color: white;
}
.footer_div_1{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.footer_div_1 h1{
    color: var(--theme-color-2);
}
.footer_div_1 div{
    display: flex;
    gap: .8rem;
}

.footer_div_1 div span{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
}

.footer_div_1 div span:nth-child(1){
    background-color: rgb(0, 132, 255);
    box-shadow: 2px 2px 12px  rgb(0, 132, 255);
}

.footer_div_1 div span:nth-child(2){
    background-color: rgb(0, 60, 255);
    box-shadow: 2px 2px 12px  rgb(0, 60, 255);
}

.footer_div_1 div span:nth-child(3){
    background-color: rgb(255, 81, 0);
    box-shadow: 2px 2px 12px  rgb(255, 81, 0);
}

.footer_div_1 div span:nth-child(4){
    background-color: rgb(195, 0, 255);
    box-shadow: 2px 2px 12px  rgb(195, 0, 255);
}

.common_footer_div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.common_footer_div span{
    color: #f8f8f8ab;
}


.logo{
    display: flex;
    gap: .3rem;
    align-items: center;
}

.logo img{
    width: 200px;
    height: 45px;
    margin-bottom: 5px;
}

.logo p{
    font-size: 25px;
}


.demo{
    height: 150px;
    width: 150px;
    position: absolute;
    top: -150px;
    left: 0px;
    background-color: var(--theme-bgcolor-3);
    border: none;
    outline: none;
}

.demo nav{
    height: 100%;
    width: 100%;
    border-radius: 0px 0px 0px 200px;
    background-color: var(--color-10);
    border: none;
    outline: none;
}

.demo2{
    height: 150px;
    width: 150px;
    position: absolute;
    top: -150px;
    right: 0px;
    background-color: var(--theme-bgcolor-3);
    border: none;
    outline: none;
}

.demo2 nav{
    height: 100%;
    width: 100%;
    border-radius: 0px 0px 200px 0px;
    background-color: var(--color-10);
    border: none;
    outline: none;
}

.subfooter{
    background-color: #000;
    color: var(--default-color);
    padding: 23px 5%;
    border-top: 1px solid gray;
}


@media(max-width:640px){
    .footer{
        grid-template-columns: 1fr;
    }
    .demo{
        height: 80px;
        width: 80px;
        position: absolute;
        top: -80px;
        left: 0px;
        background-color: var(--theme-bgcolor-3);
    }
    
    .demo2{
        height: 80px;
        width: 80px;
        position: absolute;
        top: -80px;
        right: 0px;
        background-color: var(--theme-bgcolor-3);
    }
}


@media (min-width: 640px) and (max-width: 768px) {
    .footer{
        grid-template-columns: 1fr 1fr;
    }
    .demo{
        height: 90px;
        width: 90px;
        position: absolute;
        top: -90px;
        left: 0px;
        background-color: var(--theme-bgcolor-3);
    }
    
    .demo2{
        height: 90px;
        width: 90px;
        position: absolute;
        top: -90px;
        right: 0px;
        background-color: var(--theme-bgcolor-3);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .footer{
        grid-template-columns: 1fr 1fr;
    }

    .demo{
        height: 120px;
        width: 120px;
        position: absolute;
        top: -120px;
        left: 0px;
        background-color: var(--theme-bgcolor-3);
    }
    
    .demo2{
        height: 120px;
        width: 120px;
        position: absolute;
        top: -120px;
        right: 0px;
        background-color: var(--theme-bgcolor-3);
    }
}